


.DropdownParent{
    position: relative;


}

.dropdownList{
     list-style: none;
     position: absolute;
     padding-top: 20px;
     color: rgb(9, 0, 0);
     display: grid;
     font-size: 2rem;
     background-color: hsl(24, 25%, 92%);   
     gap: 16px;  
     display: flex; 
     flex-direction: column; 
     border-radius: 6px;
  
     

}
.dropdownList li{
    text-align: center;
    padding: 3px;
  
 

  

}
