.sellProducts{
  margin-top: 100px;
  color:navy;
   text-align: center;
   margin-bottom: 370px;
   background-color: rgba(235, 216, 195, 0.385);
   
   
}
 .sellProducts h1{
 font-size: 4rem;
 color: hsla(227, 54%, 66%, 0.994);
}
.productList{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  
}

.productCard{
  padding: 1px;
  border: 2px solid;
  width: 180px;
  text-align: center;
  border-radius: 5px;
}.productCard:hover{
 box-shadow: 10px 20px 20px rgba(230, 8, 8, 0.817);
  transform: translateY(-10px);
}

.productImage{
  width: 100%;
}
@media (max-width: 600px){

.productList{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top:30px;
}


}
